
.header {
    background-color: #c8d3d5;
    color: #5e7175;
    padding: 1rem;
    display: flex;
    align-items: center;
    
    > h1 {
        font-weight: 700;
        margin-bottom: 0;
    }
}

.jobs-container {
    background-color: white;
    border-radius: 1rem;
}

.jobs-table {
    display: block;
    height: 100vh;
}

.mat-row {
    cursor: pointer;
}

.mat-row:hover {
    background-color: #f0f5f5;
}

.jobs-list {
    display: none;

    > ul {
        list-style-type: none;
    }
}

.list-item {
    margin-bottom: 2rem;

    > div {
        margin-bottom: 0.75rem;
    }
}

.list-item:hover {
    cursor: pointer;
}

@media screen and (max-width: 1040px) {
    .jobs-list {
      display: flex;
      flex-direction: column;
    }
    .jobs-table {
        display: none;
        background-color: red;

    }
  }

.loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
} 

mat-button-toggle {
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.status {
    &_OPEN {
        color: red
    }

    &_CLOSED {
        color: GREEN
    }

    &_ABORTED {
        color: GRAY;
    }

    &_IN_PROGRESS {
        color: orange
    }
}
