.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #c8d3d5;

  > form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10rem;
    border-radius: 1rem;

    > h1 {
      text-align: center;
      margin-bottom: 4rem;
    }

    > input {
      margin-bottom: 1rem;
    }

    > button {
      margin-top: 1rem;
    }

  }


}